<section id="content">
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Gestion des patients</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Patients</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active" href="#">Liste</a>
          </li>
        </ul>
      </div>
      <a (click)="openFormDialog()" type="button" class="btn-download">
        <i class="fa-solid fa-plus"></i>
        <span class="text">Ajouter un patient</span>
      </a>
    </div>
    <ul class="box-info">
      <!-- These could be dynamic if you have relevant data -->
      <li>
        <i class='bx bxs-group'></i>

        <span class="text">
          <h3>10</h3>
          <p>Homme</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-group'></i>
        <span class="text">
          <h3>12</h3>
          <p>Femme</p>
        </span>
      </li>
      <li>
        <i class='bx bxs-calendar-check'></i>
        <span class="text">
          <h3>4</h3>
          <p>Nombre de patient ajouté aujourdhui</p>
        </span>
      </li>
    </ul>
    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Recent Patients</h3>
          <i class='bx bx-search'></i>
          <i class='bx bx-filter'></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>Nom et prénom</th>
              <th>N° IIP</th>
              <th>N° CIN</th>
              <th>N° Tel</th>
              <th>ville</th>
              <th>Date naissance</th>
              <th>Genre </th>
              <th>Actions</th>
              <!-- Add other headers as needed -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of patients">
              <td>
                <img src="https://secure.gravatar.com/avatar/yourhash?s=100&d=identicon&r=g">
                <p>{{ patient.nom }} {{ patient.prenom }} </p>
              </td>
              <td>{{ patient.ipp  }}</td>
              <td>{{ patient.cin  }}</td>
              <td>{{ patient.numTel  }}</td>
              <td>{{ patient.ville  }}</td>
              <td>{{ patient.dateNaissance | date:'dd/MM/yyyy' }}</td>
              <td>{{ patient.genre  }}</td>
              <td class="table-button-cell">
                <button mat-icon-button class="edit-button" (click)="editPatient(patient)">
                  <i class="fa fa-edit"></i>
                </button>
                <button mat-icon-button class="delete-button" (click)="deletePatient(patient.ipp)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</section>
