<section id="content">
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Gestion des patients</h1>
        <ul class="breadcrumb">
          <li>
            <a routerLink="/patients">Liste patients</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
        </ul>
      </div>
      <a (click)="openFormDialog()" type="button" class="btn-download">
        <i class="fa-solid fa-plus"></i>
        <span class="text">Ajouter un patient</span>
      </a>
    </div>
    <ul class="box-info">
      <!-- These could be dynamic if you have relevant data -->
      <li *ngFor="let gender of gendersData">
        <i class='bx bxs-group'></i>
        <span class="text">
          <h3>{{ gender.count }}</h3>
          <p>{{ gender.genderName }}</p>
        </span>
      </li>
    </ul>
    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Recent Patients</h3>
          <div>
            <form action="#">
              <div class="form-input">
                <input type="text" [(ngModel)]="searchText" name="searchText" (input)="onSearchChange()" placeholder="Search...">
                <select  [(ngModel)]="searchBy" name="searchBy" (change)="onSearchByChange(searchBy)">
                  <option value="iip" selected>IIP</option>
                <option value="cin">CIN</option>
              </select>
              <button (click)="onSearch()"><i class='bx bx-search' ></i></button>

              </div>
            
            </form>
            <!-- <i class='bx bx-search'></i> -->
          </div>
          <i class='bx bx-filter'></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>Nom et prénom</th>
              <th>N° IIP</th>
              <th>N° CIN</th>
              <th>N° Tel</th>
              <th>ville</th>
              <th>Date naissance</th>
              <th>Genre </th>
              <th>Actions</th>
              <!-- Add other headers as needed -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of filteredPatient" class="table-tr" [routerLink]="['dossier', patient.ipp]" >
              <td>
                <img src="https://secure.gravatar.com/avatar/yourhash?s=100&d=identicon&r=g">
                <p>{{ patient.nom }} {{ patient.prenom }} </p>
              </td>
              <td>{{ patient.ipp  }}</td>
              <td>{{ patient.cin  }}</td>
              <td>{{ patient.numTel  }}</td>
              <td>{{ patient.ville  }}</td>
              <td>{{ patient.dateNaissance | date:'dd/MM/yyyy' }}</td>
              <td > <span>{{ patient.genre  }}</span></td>
              <td class="table-button-cell">
                <button mat-icon-button class="consulter-button"  routerLink="/dossier" >
                  <i class="fas fa-sign-in-alt"></i>
                </button>
                <button mat-icon-button class="edit-button" (click)="editPatient(patient)">
                  <i class="fa fa-edit"></i>
                </button>
                <button mat-icon-button class="delete-button" (click)="deletePatient(patient.ipp)">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</section>
