<section id="content">
    <main>
        <div class="head-title">
          <div class="left">
            <h1>Gestion des catégories</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Categorie</a>
              </li>
              <li><i class='bx bx-chevron-right' ></i></li>
              <li>
                <a class="active" href="#">Motif de consultation</a>
              </li>
            </ul>
          </div>
          <a href="#" class="btn-download">
            <i class='bx bxs-cloud-download' ></i>
            <input type="file"
                    class="custom-file-input"
                    id="inputFile"
                    accept=".CSV , application/vnd.
                    openxmlformats-officedocument.spreadsheetml.sheet,
                    application/vnd.ms-excel"
                    (change)="csvImport($event)"
                  
            />
            
            <span class="text">Upload CSV</span>

          </a>
        </div>
        
        <div class="table-data">
          <div class="order">
            <div class="head">
              <h3>Liste des éléments de la catégories</h3>
              <i class='bx bx-search' ></i>
              <i class='bx bx-filter' ></i>
            </div>
            <!-- ================================ -->
        <!--  -->

            <table>
              <thead>
                <tr>
                  <th>Questions</th>
                  <th>Date d'ajout</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listItems">
                  <td>
                    <p>{{item.question}}</p>
                  </td>
                  <td>{{item.addedAt}}</td>
                  <td class="table-button-cell">
                    <button mat-icon-button class="edit-button" >
                      <i class="fa fa-edit"></i>
                    </button>
                    <button mat-icon-button class="delete-button">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>                
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </main>
    </section>