<section id="content">
    <main>
        <div class="head-title">
          <div class="left">
            <h1>Gestion des catégories</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Categorie</a>
              </li>
              <li><i class='bx bx-chevron-right' ></i></li>
              <li>
                <a class="active" href="#">Motif de consultation</a>
              </li>
            </ul>
          </div>
          <a href="#" class="btn-download">
            <i class='bx bxs-cloud-download' ></i>
            <span class="text">Upload CSV</span>
          </a>
        </div>
        
        <div class="table-data">
          <div class="order">
            <div class="head">
              <h3>Liste des éléments de la catégories</h3>
              <i class='bx bx-search' ></i>
              <i class='bx bx-filter' ></i>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Questions</th>
                  <th>Date d'ajout</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p>Quels symptômes ressentez-vous actuellement ? </p>
                  </td>
                  <td>01-10-2023</td>
                  <td class="table-button-cell">
                    <button mat-icon-button class="edit-button" >
                      <i class="fa fa-edit"></i>
                    </button>
                    <button mat-icon-button class="delete-button">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>                
                </tr>
                <tr>
                  <td>
                    <p>Avez-vous eu des complications ou des changements concernant le diagnostic précédent ?</p>
                  </td>
                  <td>01-10-2023</td>
                  <td class="table-button-cell">
                    <button mat-icon-button class="edit-button" >
                      <i class="fa fa-edit"></i>
                    </button>
                    <button mat-icon-button class="delete-button">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>  
                </tr>
                <tr>
                  <td>
                    <p>Comment réagissez-vous aux traitements actuels ?</p>
                  </td>
                  <td>01-10-2023</td>
                  <td class="table-button-cell">
                    <button mat-icon-button class="edit-button" >
                      <i class="fa fa-edit"></i>
                    </button>
                    <button mat-icon-button class="delete-button">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>  
                  <!-- <td><span class="status process">Process</span></td> -->
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </main>
    </section>