<section id="content">
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Gestion des patients</h1>
          <ul class="breadcrumb">
            <li>
              <a [routerLink]="['/patients']">Liste patients</a>
            </li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li>
              <a class="active" >Dossier patient</a>
            </li>
          </ul>
        </div>
        <a  type="button" class="btn-download"  [routerLink]="['/patients/dossier/add-new-visite' , idPatient]">
          <i class="fa-solid fa-plus"></i>
          <span class="text">Ajouter une visite</span>
        </a>
      </div>
  
      <div class="profile-card">
        <div class="profile-stats">
            <div class="profile-header">
                <h1>AFRID MOUHSSINE</h1>
                <p>123 | Chirurgie Maxillo-faciale</p>
            </div>
            <div class="stat">
                <span class="stat-value">14</span>
                <span class="stat-label">Visites</span>
            </div>
            <div class="stat">
                <span class="stat-value">4</span>
                <span class="stat-label">Visites lors des 3 derniers mois</span>
            </div>
            <div class="stat">
                <span class="stat-value">0</span>
                <span class="stat-label">Visites au service</span>
            </div>
        </div>
    </div>
      <div class="table-data">
        <div class="order">
          <div class="head">
            <h3>Recent Visites</h3>
            <i class='bx bx-search'></i>
            <i class='bx bx-filter'></i>
          </div>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>ID</th>
                <th>Date Visite</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let visite of visites" style="cursor: pointer;" >
                <td>
                  <i class="fa-solid fa-book book-icon"></i>

                </td>
                <td>{{ visite.getId()}}</td>
                <td>{{ visite.getDateVisite() | date:'dd/MM/yyyy'  }}</td>
                <td class="table-button-cell">
                  <button mat-icon-button class="edit-button" (click)="openFormDialog">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button mat-icon-button class="delete-button" (click)="deleteVisite(visite.getId())">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </section>
  