#content {
    position: relative;
    width: calc(100% - 240px);
    left: 240px;
    transition: .3s ease;
  }

  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background: var(--light);
    z-index: 2000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
  }
