<section id="content">
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dossier patient</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Gestion des dossiers patient</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="#">Dossier</a>
                    </li>
                </ul>
            </div>
            
        </div>



<!-- boxes content  -->
<div class="boxes">
<ul class="box-info">
  <li routerLink="/categories-detail" >
    <i class='bx bxs-calendar-check' ></i>
    <span class="text">
      <h3>15</h3>
      <p>Motif de consultation</p>
    </span>
  </li>
  <li routerLink="/categories-detail">
    <i class='bx bxs-group' ></i>
    <span class="text">
      <h3>87</h3>
      <p>Pathologie familiale</p>
    </span>
  </li>
  <li routerLink="/categories-detail">
    <i  class='bx bx-pyramid' ></i>
    <span class="text">
      <h3>167</h3>
      <p>Antecedents Medicaux Personnels</p>
    </span>
  </li>
  <li routerLink="/categories-detail">
    <i class='bx bx-pyramid' ></i>
    <span class="text">
      <h3>43</h3>
      <p>Allergies Connues</p>
    </span>
  </li>
  <li>
    <i class='bx bx-select-multiple' ></i>
    <span class="text">
      <h3>13</h3>
      <p>Traitement deja recu ou en cours</p>
    </span>
  </li>
</ul>
</div>
    </main>
</section>