<section id="content">
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dossier patient</h1>
        <ul class="breadcrumb">
          <li>
            <a [routerLink]="null">Gestion des catégories</a>
          </li>
          <li><i class='bx bx-chevron-right'></i></li>
          <li>
            <a class="active" [routerLink]="null">catégories</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- boxes content  -->
    <div class="navigation-profile-card">
      <div class="topnav">
        <a (click)="handleClick('PC')" [class.active]="activeLink === 'PC'">Partie Commune</a>
        <a (click)="handleClick('PS')" [class.active]="activeLink === 'PS'">Partie Specialise</a>
      </div>
    </div>

    <div class="boxes">
      <ul class="box-info">
        <li *ngFor="let categorie of listCategories" [routerLink]="['/categories-detail', categorie.url]">
          <i [class]="categorie.iconName"></i>
          <span class="text">
            <h3>{{categorie.count}}</h3>
            <p>{{categorie.name}}</p>
          </span>
        </li>
      </ul>
    </div>
  </main>
</section>