<section id="content">
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dossier patient</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Gestion des dossiers patient</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="#">Dossier</a>
                    </li>
                </ul>
            </div>
            
        </div>
    
    <div class="profile-component">

    
        <div class="profile-card">
            <div class="profile-stats">
                <div class="profile-header">
                    <h1>AFRID MOUHSSINE</h1>
                    <p>MRN189728 | Chirurgie Maxillo-faciale</p>
                </div>
                <div class="stat">
                    <span class="stat-value">14</span>
                    <span class="stat-label">Visites</span>
                </div>
                <div class="stat">
                    <span class="stat-value">4</span>
                    <span class="stat-label">Visites lors des 3 derniers mois</span>
                </div>
                <div class="stat">
                    <span class="stat-value">0</span>
                    <span class="stat-label">Visites au service</span>
                </div>
            </div>
        </div>
        <div class="navigation-profile-card">
            
         <div class="topnav">
            <a href="#home" (click)="handleClick('home')" [class.active]="activeLink === 'home'">Anamnese</a>
            <a href="#news" (click)="handleClick('news')" [class.active]="activeLink === 'news'">Examen Clinique</a>
            <a href="#contact" (click)="handleClick('contact')" [class.active]="activeLink === 'contact'">Examen Complementaire</a>
            <a href="#about" (click)="handleClick('about')" [class.active]="activeLink === 'about'">Diagnostics</a>
          </div>
    </div>
</div>



<!-- boxes content  -->
<div class="boxes">
<ul class="box-info">
  <li>
    <i class='bx bxs-calendar-check' ></i>
    <span class="text">
      <h3>15</h3>
      <p>Motif de consultation</p>
    </span>
  </li>
  <li>
    <i class='bx bxs-group' ></i>
    <span class="text">
      <h3>87</h3>
      <p>Pathologie familiale</p>
    </span>
  </li>
  <li>
    <i class='bx bxs-dollar-circle' ></i>
    <span class="text">
      <h3>167</h3>
      <p>Antecedents Medicaux Personnels</p>
    </span>
  </li>
  <li>
    <i class='bx bx-pyramid' ></i>
    <span class="text">
      <h3>43</h3>
      <p>Allergies Connues</p>
    </span>
  </li>
  <li>
    <i class='bx bx-select-multiple' ></i>
    <span class="text">
      <h3>13</h3>
      <p>Traitement deja recu ou en cours</p>
    </span>
  </li>
</ul>
</div>
    </main>
</section>